<ion-view title="Lista de carros">
    <ion-nav-title>Lista de carros</ion-nav-title>
    <ion-content>
        <ion-list ng-repeat="item in listaCarros">
            <ion-item href="#/carroescolhido/{{item}}">
                {{item.modelo}} - R{{item.valor | currency}}
           </ion-item>
        </ion-list>
    </ion-content>
    <ion-footer-bar align-title="center" class="bar bar-calm">
        <h1 class="title">&copy Renan Aquino</h1>
        <div class="buttons">
            <button class="button icon ion-gear-a"></button>
        </div>
    </ion-footer-bar>
</ion-view>