<ion-view view-title="Login">
    <ion-content>
        <form ng-submit="realizarLogin()">
        <div class="list list-inset">
            <label class="item item-input">
                <span class="input-label">Nome</span>
                <input type="text" name="nome" ng-model="login.email">
            </label>
            <label class="item item-input">
                <span class="input-label">Senha</span>
                <input type="password" name="senha" ng-model="login.senha">
            </label>
            <button class="button button-positive button-full" type="submit">Acessar</button>
        </div>
        </form>
    </ion-content>
</ion-view>