<ion-side-menus>
    <ion-side-menu-content>
        <ion-nav-bar side="left" class="bar bar-positive">
            <ion-nav-back-button>
                Voltar
            </ion-nav-back-button>
            <ion-nav-buttons>
                <button class="button button-icon button-clear ion-navicon"
                    menu-toggle="center"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left">
        <ion-header-bar class="bar bar-positive">
            <h1 class="title">Dados Pessoais</h1>
        </ion-header-bar>
        <ion-content>
            <div class="list card">
                <div class="item item-avatar">
                    {{usuario.email}}
                </div>
                <div class="item item-body"></div>
            </div>
            <ion-list>
                <ion-item menu-close href="#/app/perfil">
                    Perfil
                </ion-item>
                <ion-item menu-close ng-href="#/app/listaUsuarios">
                        Cadastrar Usuario
                </ion-item>
                <ion-item menu-close ng-href="#/app/listagem">
                        Lista Carros
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>